<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8">
    <title>ログイン</title>
      
  </head>
  <body>
    <h1>ログイン画面</h1>
    <input type="text" size="900" name="text1" style="width:300px;heigh:300;" placeholder="IDを入力">
    </p>
    <br>
    <input type="text" size="900" name="text1" style="width:300px;heigh:300;" placeholder="パスワードを入力">
    </p>
    <p><input type="button" value="ログイン" id="button5"  placeholder="ログイン"></p>
    <p><a href="{% url 'mypage' %}">マイページへ</a></p>
    

  </body>
</html>